asgiref==3.6.0
Brotli==1.0.9
dj-database-url==1.2.0
Django==4.1.7
django-appconf==1.0.5
django-cors-headers==3.14.0
django-imagekit==4.1.0
djangorestframework==3.14.0
gunicorn==20.1.0
-e git+https://github.com/GaziAshiq/handcrafted_marketplace.git@01078353426c5fb0d6c972e9c4aa20bcdde3d8e6#egg=handcrafted_marketplace
mysqlclient==2.1.1
pilkit==2.0
psycopg2-binary==2.8.6
Pillow==9.4.0
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
whitenoise==6.4.0
